<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Changement de Section</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <style>
    .btn-active {
        background-color: #2f855a; /* Couleur similaire à hover:bg-green-600 pour l'aspect actif */
    }
    </style>
  <script>
    function disableOtherInputs(section, selectedInputId) {
    const inputs = document.querySelectorAll(`#${section} input, #${section} select`);
    inputs.forEach(input => {
      if (input.id !== selectedInputId) {
        input.disabled = true; // Désactive les autres champs
      } else {
        input.disabled = false; // Assure que le champ sélectionné est actif
      }
    });
  }
    function switchSection(section) {
        document.getElementById('flowerSection').style.display = 'none';
        document.getElementById('foliageSection').style.display = 'none';
        document.getElementById(section).style.display = 'block';
        document.getElementById('current_section').value = section.replace('Section', '');
        document.querySelectorAll('.section-btn').forEach(btn => {
            btn.classList.remove('btn-active');
        });

        document.querySelector(`#${section}Btn`).classList.add('btn-active');
    }
  </script>
</head>
<body class="bg-gray-200 flex flex-col justify-center items-center h-screen">

    <nav class="fixed top-0 left-0 w-full bg-green-500 flex justify-between px-4 py-2">
        <a href="/" class="text-white flex items-center">
            <i class="fas fa-leaf text-2xl mr-2"></i>
            <span class="text-xl font-bold">Super-Trefle</span>
        </a>
    </nav>
    <div class="text-white">
        <button id="flowerSectionBtn" onclick="switchSection('flowerSection')" class="section-btn bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 border border-green-700 rounded transition ease-in-out duration-150 text-lg">Flower</button>
        <button id="foliageSectionBtn" onclick="switchSection('foliageSection')" class="section-btn bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 border border-green-700 rounded transition ease-in-out duration-150 text-lg">Foliage</button>
    </div>
    <form method="POST" action="/filter" class="mt-20">
        <input type="hidden" name="current_section" id="current_section" value="">
        <div id="flowerSection" style="display:none;">
            <!-- Inputs pour Flower -->
            <div class="mb-4">
                <label for="color" class="block text-gray-700 text-sm font-bold mb-2">Couleur:</label>
                <input type="text" id="color" name="color" onchange="disableOtherInputs('flowerSection', 'color')" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Entrez une couleur">
            </div>
            <div class="mb-4">
                <label for="conspicuous" class="block text-gray-700 text-sm font-bold mb-2">Conspicuous:</label>
                <select id="conspicuous" name="conspicuous" onchange="disableOtherInputs('flowerSection', 'conspicuous')" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="true">Oui</option>
                    <option value="false">Non</option>
                </select>
            </div>
        </div>

        <div id="foliageSection" style="display:none;">
            <!-- Inputs pour Foliage -->
            <div class="mb-4">
                <label for="texture" class="block text-gray-700 text-sm font-bold mb-2">Texture:</label>
                <select id="texture" name="texture" onchange="disableOtherInputs('foliageSection', 'texture')" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="fine">Fine</option>
                    <option value="medium">Medium</option>
                    <option value="coarse">Coarse</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="foliage_color" class="block text-gray-700 text-sm font-bold mb-2">Couleur:</label>
                <input type="text" id="foliage_color" name="foliage_color" onchange="disableOtherInputs('foliageSection', 'foliage_color')" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Entrez une couleur">
            </div>
            <div class="mb-4">
                <label for="leaf_retention" class="block text-gray-700 text-sm font-bold mb-2">Leaf Retention:</label>
                <input type="text" id="leaf_retention" name="leaf_retention" onchange="disableOtherInputs('foliageSection', 'leaf_retention')" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Entrez leaf retention">
            </div>
        </div>

        <button type="submit" class="bg-green-500 text-white font-bold py-2 px-4 rounded">Rechercher</button>
    </form>

</body>
</html>
